@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic");
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.main-content {
  color: #fff;
  background-color: #849d8f;
  background-image: url(../img/jpeg/ice-big.png);
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-transition: background-image .5s ease, background-color .5s ease;
  -o-transition: background-image .5s ease, background-color .5s ease;
  transition: background-image .5s ease, background-color .5s ease;
}

.site-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.main-content::before,
.main-content::after {
  visibility: hidden;
  content: "";
}

.main-content::before {
  background-image: url(../img/jpeg/ice-big-2.png);
}

.main-content::after {
  background-image: url(../img/jpeg/ice-big-3.png);
}

input[type="email"],
.common-inputs,
.feedback-area {
  min-width: 345px;
  margin-right: 5px;
  padding: 10px;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  background-color: #fff;
  font-weight: 700;
}

::-webkit-input-placeholder {
  font-weight: 400;
}

:-ms-input-placeholder {
  font-weight: 400;
}

::-ms-input-placeholder {
  font-weight: 400;
}

::placeholder {
  font-weight: 400;
}

input[type="email"]:-ms-input-placeholder {
  font-weight: 400;
}

input[type="email"]:hover,
.common-inputs:hover {
  -webkit-box-shadow: 0 0 0 1px rgba(211, 211, 210, 1) inset;
  box-shadow: 0 0 0 1px rgba(211, 211, 210, 1) inset;
}

.header-left-navigation-list,
.header-right-navigation-list,
.catalog-item,
.breadcrumbs-item,
.pagination-item,
.features-item,
.user-login-list {
  list-style-type: none;
}

.header-left-navigation-link,
.main-navigation-link,
.catalog-navigation-link,
.page-number {
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid rgb(157, 177, 165);
}

.main-header {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 27px 0 27px;
}

.header-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.top-header-logo {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.header-left-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-left: 2px;
  padding: 0;
  padding-left: 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

._inner-left-nav-list {
  margin-bottom: 7px;
  margin-left: 2px;
}

.header-left-navigation-item {
  position: relative;
  padding-bottom: 5px;
}

.header-left-navigation-link {
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
  vertical-align: baseline;
  padding: 7px 14px;
  border-bottom: none;
  -webkit-text-decoration: underline solid rgba(255, 255, 255, .3);
  text-decoration: underline solid rgba(255, 255, 255, .3);
}

.__page-active {
  text-decoration: none;
  border-radius: 20px;
  background-color: #d07058;
}

.header-left-navigation-item:hover .header-left-navigation-link {
  color: #000;
  border-bottom: none;
  border-radius: 25px;
  background-color: #fff;
}

.header-left-navigation-link:not(.__page-active):active {
  color: #000;
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0 2px 2px 0 rgba(105, 105, 105, .9);
  box-shadow: inset 0 2px 2px 0 rgba(105, 105, 105, .9);
}

.header-left-navigation-item:hover .dropdown-inner {
  display: block;
}

.dropdown-inner {
  position: absolute;
  z-index: 1;
  top: 37px;
  display: none;
  overflow: hidden;
  width: 145px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 5px;
  background-color: #f7f6f1;
  font-size: 14px;
  line-height: 16px;
}

.dropdown-inner-item {
  width: 100%;
}

.dropdown-inner-link {
  display: inline-block;
  vertical-align: baseline;
  width: 100%;
  padding: 7px 15px;
  text-decoration: none;
  color: #000;
}

.__link-active {
  background-color: #d07058;
  color: #fff;
}

.__link-active:hover {
  color: #000;
}

.dropdown-inner-link:not(.inner-title):hover {
  background-color: rgba(251, 222, 216, .9);
}

.dropdown-inner-link:not(.__link-active):not(.inner-title):active {
  background-color: rgba(246, 181, 165, .9);
}

.inner-title {
  font-weight: 700;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d1d0ce), to(#d1d0ce));
  background-image: -webkit-linear-gradient(#d1d0ce, #d1d0ce);
  background-image: -o-linear-gradient(#d1d0ce, #d1d0ce);
  background-image: linear-gradient(#d1d0ce, #d1d0ce);
  background-repeat: no-repeat;
  background-position: left 7px bottom;
  background-size: 128px 1px;
}

.header-right-navigation-list {
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  margin: 0;
  margin-bottom: 7px;
  margin-left: auto;
  padding: 0;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

._main-list {
  margin-bottom: 0;
}

.header-right-navigation-item {
  position: relative;
  margin-left: 10px;
  padding-bottom: 5px;
}

.header-right-navigation-item:hover .goods-of-basket {
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-right-navigation-link {
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
}

.header-right-navigation-link:active {
  color: #000;
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0 2px 2px 0 rgba(105, 105, 105, .9);
  box-shadow: inset 0 2px 2px 0 rgba(105, 105, 105, .9);
}

.user-search {
  position: relative;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .2);
}

.header-right-navigation-item:hover .user-search,
.header-right-navigation-item:hover .user-login,
.header-right-navigation-item:hover .user-basket {
  cursor: pointer;
  color: #000;
  background-color: #fff;
}

.user-search svg {
  position: absolute;
  top: 7px;
  left: 8px;
}

.header-right-navigation-item:hover .lens,
.header-right-navigation-item:hover .login,
.header-right-navigation-item:hover .basket {
  fill: #000;
}

.user-search-field {
  position: absolute;
  top: 37px;
  right: 0;
  display: none;
  padding: 20px 10px;
  border-radius: 5px;
  background-color: #f7f6f1;
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .5);
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .5);
}

.header-right-navigation-item:hover .user-search-field {
  z-index: 1;
  display: block;
}

.header-right-navigation-item:hover {
  border-radius: 20px;
}

.user-search-field .user-search-text {
  width: 310px;
  margin-right: 0;
}

.user-login {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 92px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 28px;
  text-align: center;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, .2);
}

.user-login svg {
  position: absolute;
  top: 5px;
  left: 17px;
}

.user-login-list {
  position: relative;
  display: none;
}

.header-right-navigation-item:hover .user-login-list {
  display: block;
}

.user-login-form {
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 275px;
  padding: 20px 20px;
  border-radius: 5px;
  background-color: #f7f6f1;
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .5);
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .5);
}

.user-login-item {
  margin: 0;
  margin-bottom: 20px;
}

.links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.links-block {
  font-size: 13px;
  line-height: 24px;
  width: 120px;
  margin: 0;
  margin-left: 15px;
}

.links-block a {
  color: #000;
}

.links-block a:hover,
.footer-studio-label:hover,
.footer-subnavigation-link:hover,
.catalog-item-link:hover,
.rubric-link:hover,
.catalog-navigation-link:hover {
  color: #e84d37;
}

.input-width {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 100%;
}

.form-enter-btn {
  font-weight: 700;
  padding: 17px 25px;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 30px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843);
  background-image: -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image: linear-gradient(to top, #e74a35, #f26843);
}

.user-basket {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 117px;
  padding-top: 8px;
  padding-right: 13px;
  padding-bottom: 8px;
  padding-left: 42px;
  text-align: center;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, .2);
}

.user-basket svg {
  position: absolute;
  top: 5px;
  left: 15px;
}

._main-basket {
  width: 100px;
}

.__not-empty-basket {
  color: #000;
  background-color: #fff;
}

.goods-of-basket {
  font-size: 13px;
  line-height: 16px;
  position: absolute;
  z-index: 1;
  top: 37px;
  right: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 540px;
  padding: 25px 15px 5px 15px;
  list-style: none;
  color: #000;
  border-radius: 5px;
  background-color: #f7f6f1;
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .5);
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .5);
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.basket-goods-wrapper {
  position: relative;
}

.basket-goods-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style: inherit;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.basket-goods-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.goods-delete-btn {
  position: relative;
  left: -7px;
  display: inline-block;
  vertical-align: baseline;
  padding: 10px;
  cursor: pointer;
  border: none;
  background: transparent;
}

.goods-item-logo {
  width: 32px;
  height: 32px;
  margin-right: 15px;
  margin-left: 20px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.goods-orange {
  background-image: url(../img/jpeg/ice-orange.jpg);
}

.goods-strawberry {
  background-image: url(../img/jpeg/ice-strawberry.jpg);
}

.goods-item-title {
  margin: 0;
  margin-right: 30px;
}

.goods-delete-btn::before,
.goods-delete-btn::after {
  position: absolute;
  top: 10px;
  left: 2px;
  display: inline-block;
  vertical-align: baseline;
  width: 15px;
  height: 1px;
  content: "";
  background-color: #000;
}

.goods-delete-btn::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.goods-delete-btn::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.goods-item-count {
  margin-right: 30px;
}

.goods-item-sum {
  color: #a6a6a5;
}

.goods-summary-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  margin-top: 10px;
  margin-left: auto;
  padding: 0;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.goods-summary-list::before {
  content: "";
  position: absolute;
  top: 135px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 500px;
  height: 1px;
  background-color: #cacac7;
}

.goods-total-sum {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  margin: 0;
  margin-bottom: 20px;
  text-align: right;
}

.goods-purchase-btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 10px 15px;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 30px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843);
  background-image: -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image: linear-gradient(to top, #e74a35, #f26843);
}

.header-right-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: auto;
  font-size: 14px;
  line-height: 16px;
  width: 170px;
  text-align: right;
  letter-spacing: .1px;
  margin-top: 0;
  margin-bottom: 0;
}

._inner-page-contacts {
  position: absolute;
  top: 64px;
  right: 0;
}

.nav-working-time {
  margin-bottom: 2px;
  text-align: right;
}

.nav-working-tel {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  display: inline-block;
  vertical-align: baseline;
  padding-top: 3px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.inner-content {
  background-image: none;
}

.main-present {
  position: relative;
  margin-bottom: 40px;
  padding-top: 275px;
  text-align: center;
  color: #fff;
}

.main-slider {
  position: relative;
  margin: 0;
  text-align: center;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.current-slide {
  display: none;
}

.slide-title {
  font-size: 60px;
  font-weight: 800;
  line-height: 60px;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.slider-controls {
  font-size: 0;
  position: absolute;
  z-index: 3;
  bottom: 23px;
  left: 27px;
}

.slider-controls label {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: transparent;
}

.slider-controls label:hover {
  background-color: rgba(255, 255, 255, .3);
}

.pduct-1:checked~.main-content {
  background-color: #849d8f;
  background-image: url(../img/jpeg/ice-big.png);
}

.product-2:checked~.main-content {
  background-color: #8996a6;
  background-image: url(../img/jpeg/ice-big-2.png);
}

.product-3:checked~.main-content {
  background-color: #9d8b84;
  background-image: url(../img/jpeg/ice-big-3.png);
}

.product-1:checked~.main-content .raspberry-slide,
.product-2:checked~.main-content .lemon-slide,
.product-3:checked~.main-content .strawberry-slide {
  display: inline-block;
  vertical-align: baseline;
}

.product-1:checked~.main-content label[for="product-1"],
.product-2:checked~.main-content label[for="product-2"],
.product-3:checked~.main-content label[for="product-3"] {
  background-color: #fff;
}

.btn-red-shadow {
  -webkit-box-shadow: 0 2px 5px 0 rgba(160, 32, 11, .5);
  box-shadow: 0 2px 5px 0 rgba(160, 32, 11, .5);
  text-shadow: 0 2px 5px rgba(160, 32, 11, .5);
}

.btn-red-shadow:hover {
  cursor: pointer;
  background-color: #f17b64;
  background-image: none;
  -webkit-box-shadow: 0 2px 5px 0 rgba(172, 16, 0, .9);
  box-shadow: 0 2px 5px 0 rgba(172, 16, 0, .9);
  text-shadow: 0 2px 10px rgba(160, 32, 11, .9);
}

.btn-red-shadow:active {
  cursor: pointer;
  outline: none;
  background-color: #f17b64;
  background-image: none;
  -webkit-box-shadow: inset 0 2px 5px 0 rgba(160, 32, 11, .5);
  box-shadow: inset 0 2px 5px 0 rgba(160, 32, 11, .5);
  text-shadow: 0 2px 10px rgba(160, 32, 11, .9);
}

.slide-btn-link {
  font-size: 32px;
  font-weight: 700;
  line-height: 41px;
  display: inline-block;
  vertical-align: top;
  padding: 12px 41px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 40px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843);
  background-image: -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image: linear-gradient(to top, #e74a35, #f26843);
}

.__current-slide {
  background-color: #fff;
}

.promo-block {
  margin-bottom: 40px;
}

.promo-third-title {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  margin: 0;
}

.promo-text {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 45px;
}

.get-btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-left: auto;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843);
  background-image: -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image: linear-gradient(to top, #e74a35, #f26843);
}

.raspberries-get-btn {
  width: 165px;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.chokolate-get-btn {
  max-width: 195px;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.promo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.promo-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 560px;
  padding: 15px 20px;
  padding-bottom: 25px;
  list-style-type: none;
  border-radius: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.raspberries-bg {
  margin-left: 27px;
  background-color: rgba(186, 46, 81, .9);
  background-image: url(../img/jpeg/raspberry-bg.jpg);
  background-repeat: no-repeat;
}

.chokolate-bg {
  margin-right: 27px;
  background-color: rgba(97, 78, 73, .9);
  background-image: url(../img/jpeg/chokolate-bg.jpg);
  background-repeat: no-repeat;
}

.catalog-block {
  margin-bottom: 45px;
  padding-left: 28px;
}

._main-catalog-block {
  margin-bottom: 22px;
}

.catalog-list {
  position: relative;
  left: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.catalog-item {
  position: relative;
  width: 265px;
  text-align: center;
}

.item-padding {
  padding-bottom: 25px;
}

.catalog-item:not(:nth-child(4n)) {
  margin-right: 28px;
}

.item-before::before {
  position: absolute;
  z-index: 4;
  content: url(../img/svg/icon-circle-hit.svg);
}

.catalog-item:hover::after {
  position: absolute;
  z-index: -1;
  top: -10px;
  left: -10px;
  width: 285px;
  height: 405px;
  content: "";
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .2);
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .5);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .5);
}

.catalog-item:hover {
  z-index: 3;
}

.catalog-item:hover .catalog-fast-preview {
  display: block;
}

.catalog-item-img {
  z-index: 5;
  border-radius: 50%;
}

.link-description {
  padding-right: 5px;
  padding-left: 5px;
}

.catalog-item-link {
  z-index: 5;
  text-align: center;
  color: #fff;
}

.catalog-item-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  z-index: 5;
}

.catalog-item-sum {
  font-size: 45px;
  font-weight: 700;
  line-height: 54px;
  z-index: 5;
  margin: 0;
  margin-top: -66px;
  text-align: left;
  letter-spacing: -.8px;
  text-shadow: 0 1px 3px rgba(49, 50, 53, .5);
}

.total-amount,
.inner-amount {
  font-weight: 400;
  position: relative;
  top: 4px;
  left: -4px;
}

.catalog-fast-preview {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  position: absolute;
  right: 32px;
  display: none;
  width: 170px;
  padding: 10px 20px;
  border-radius: 25px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843);
  background-image: -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image: linear-gradient(to top, #e74a35, #f26843);
}

.ice-weight {
  font-size: 30px;
  font-weight: 700;
  line-height: 55px;
  position: relative;
  left: -12px;
}

.about-info {
  width: 1147px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  color: #323232;
  border-radius: 15px;
  background-color: rgba(231, 218, 192, .9);
  background-image: url(../img/jpeg/waffle-pattern.jpg);
}

.waffle-title {
  margin-bottom: 22px;
  padding-top: 25px;
  padding-left: 20px;
}

.gllacy-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: .2px;
}

.features-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0 26px 0 76px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.features-item {
  font-size: 16px;
  line-height: 22px;
  position: relative;
  width: 480px;
  margin-bottom: 22px;
}

.features-item::before {
  position: absolute;
  top: -15px;
  left: -55px;
}

.features-eskimo-icon::before {
  content: url(../img/svg/icon-eskimo.svg);
}

.features-leaf-icon::before {
  content: url(../img/svg/icon-leaf.svg);
}

.features-cow-icon::before {
  content: url(../img/svg/icon-cow.svg);
}

.features-therm-icon::before {
  content: url(../img/svg/icon-thermometer.svg);
}

.blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.subscription-block-rubric {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 560px;
  min-height: 220px;
  margin-right: 25px;
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(243, 208, 215, .5);
  background-image: url(../img/jpeg/strawberry-bg.jpg);
  background-repeat: no-repeat;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.rubric-title {
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #323232;
}

.rubric-text {
  width: 300px;
}

.rubric-paragraph {
  margin: 0;
}

.rubric-link {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #323232;
}

.subscription-block {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 560px;
  padding: 5px;
  color: #5a5a5a;
  border-radius: 15px;
  background-image: -webkit-repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 10px, #92cdff 10px, #92cdff 20px, #f8f7f4 20px, #f8f7f4 30px, #fe9e90 30px, #fe9e90 40px);
  background-image: -o-repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 10px, #92cdff 10px, #92cdff 20px, #f8f7f4 20px, #f8f7f4 30px, #fe9e90 30px, #fe9e90 40px);
  background-image: repeating-linear-gradient(-45deg, #f8f7f4, #f8f7f4 10px, #92cdff 10px, #92cdff 20px, #f8f7f4 20px, #f8f7f4 30px, #fe9e90 30px, #fe9e90 40px);
}

.subscribe-info {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 34px;
}

.subscribe-inner {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 550px;
  min-height: 210px;
  margin: auto;
  padding: 25px 20px 20px 20px;
  border-radius: 15px;
  background-color: #f8f7f4;
}

.subscribe-mailing input[type="email"] {
  padding: 12px;
}

.btn-sent-email,
.btn-feedback-submit {
  font-size: 18px;
  line-height: 24px;
  width: 130px;
  padding: 11px 20px;
  color: #fff;
  border: none;
  border-radius: 25px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843);
  background-image: -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image: linear-gradient(to top, #e74a35, #f26843);
}

.main-footer {
  position: relative;
  padding-bottom: 30px;
}

.main-footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 1145px;
  height: 1px;
  background-color: #d1d0ce;
}

.address-container {
  margin: -368px 28px 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  padding-top: 10px;
  padding-left: 25px;
  color: #323232;
  border-radius: 15px;
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.address-normal {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.address-normal:first-child {
  width: 155px;
  margin-top: 20px;
}

.address-normal:nth-child(3) {
  margin-top: 20px;
  margin-bottom: 3px;
}

.time-interval {
  margin-top: 3px;
}

.address-bold {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  width: 225px;
  margin: 0;
}

.address-bold:last-child {
  padding-bottom: 5px;
}

.callback-btn {
  font-size: 18px;
  line-height: 24px;
  width: 198px;
  margin-top: 23px;
  margin-bottom: 30px;
  margin-left: -1px;
  padding: 10px 27px 10px 27px;
  text-align: right;
  text-decoration: none;
  color: #fff;
  border-radius: 24px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843);
  background-image: -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image: linear-gradient(to top, #e74a35, #f26843);
}

.map-container-pin {
  position: relative;
  min-height: 430px;
  background-image: url(../img/jpeg/map.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  font-size: 0;
  line-height: 0;
}

.map-container-pin::before {
  position: absolute;
  top: 140px;
  left: 265px;
  content: url(../img/jpeg/icon-pin.png);
}

.interactive-map {
  position: relative;
  z-index: -1;
  border: none;
}

.social-list,
.footer-subnavigation {
  list-style-type: none;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 25px;
  margin-left: 24px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 195px;
  margin: 35px 0 0 0;
  padding: 0;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

._social-inner {
  margin-top: 36px;
}

.social-item:nth-child(1) {
  position: relative;
  top: 0;
  left: -1px;
}

.social-item:nth-child(2) {
  position: relative;
  top: 0;
  left: -1px;
}

.footer-subnavigation {
  font-size: 13px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 310px;
  margin: 34px auto 9px 230px;
  padding: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.footer-subnavigation-item:nth-child(1) {
  position: relative;
  margin-right: 32px;
  padding-bottom: 4px;
}

.footer-subnavigation-item:nth-child(3) {
  margin-right: 45px;
}

.social-btn {
  display: inline-block;
  vertical-align: baseline;
  width: 32px;
  height: 32px;
  border: 3px solid rgba(255, 255, 255, .3);
  border-radius: 50%;
}

.social-btn:hover {
  cursor: pointer;
  border-color: rgba(218, 226, 222, .9);
}

.social-btn:hover .twitter,
.social-btn:hover .instagram,
.social-btn:hover .facebook,
.social-btn:hover .vkontakte {
  fill: #fff;
}

.footer-subnavigation-link {
  font-size: 13px;
  line-height: 18px;
  width: 160px;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.footer-link-heart {
  font-weight: 700;
}

.footer-link-heart::before {
  position: absolute;
  top: 3px;
  left: -21px;
  content: url(../img/svg/icon-heart.svg);
}

.footer-copyright {
  margin-left: auto;
}

.footer-copyright-text {
  font-size: 12px;
  line-height: 18px;
  position: relative;
  margin: 0;
  margin-top: 60px;
}

.footer-studio-logo {
  position: absolute;
  top: -42px;
  left: -8px;
}

.footer-studio-label {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.feedback-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 475px;
  padding-top: 20px;
  padding-left: 20px;
  color: #333;
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.feedback-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  display: inline-block;
  vertical-align: baseline;
  margin: 0;
  margin-bottom: 20px;
  text-align: left;
}

.feedback-btn-close {
  position: absolute;
  right: 15px;
  display: inline-block;
  vertical-align: baseline;
  padding: 10px;
  cursor: pointer;
  border: none;
  background: transparent;
}

.feedback-btn-close::before,
.feedback-btn-close::after {
  position: absolute;
  top: 9px;
  left: -3px;
  display: inline-block;
  vertical-align: baseline;
  width: 25px;
  height: 2px;
  content: "";
  background-color: #000;
}

.feedback-btn-close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.feedback-btn-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.feedback-name,
.feedback-email,
.feedback-area {
  display: block;
  margin-bottom: 20px;
}

.feedback-name,
.feedback-email {
  width: 265px;
}

.btn-feedback-submit {
  margin-bottom: 20px;
  margin-left: 55%;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 28px;
  padding: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  font-size: 14px;
  line-height: 16px;
  margin-right: 10px;
}

.breadcrumbs-item:not(:last-child)::after {
  position: relative;
  left: 5px;
  content: "»";
}

.catalog-filters {
  margin-bottom: 40px;
  margin-left: 27px;
}

.form-filters-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 13px;
}

.select-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 194px;
  margin-right: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.select-sort {
  padding: 10px 0 8px 15px;
  color: #fff;
  border: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, .2);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-sort::-ms-expand {
  display: none;
}

.select-sort-title,
.checkbox-wrap-title {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 6px;
  padding-left: 15px;
}

._sort-self-title {
  margin-top: 5px;
  margin-left: 2px;
}

.select-sort-item {
  color: #000;
}

.select-sort:hover {
  cursor: pointer;
  color: #000;
}

.select-sort:hover+.select-arrow-down .icon-down {
  cursor: pointer;
  fill: #000;
}

.select-arrow-down {
  position: absolute;
  top: 40px;
  right: 14px;
}

.range-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  margin-right: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.range-wrap::after {
  position: absolute;
  top: 11px;
  left: 114px;
  width: 7px;
  height: 2px;
  content: "";
  background-color: #fff;
}

.price-min,
.price-max {
  width: 65px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.price-min::-webkit-input-placeholder,
.price-max::-webkit-input-placeholder {
  color: #fff;
}

.price-min:-ms-input-placeholder,
.price-max:-ms-input-placeholder {
  color: #fff;
}

.price-min::-ms-input-placeholder,
.price-max::-ms-input-placeholder {
  color: #fff;
}

.price-min::placeholder,
.price-max::placeholder {
  color: #fff;
}

.range-title {
  font-size: 14px;
  line-height: 16px;
  position: relative;
  left: 5px;
  margin-top: 4px;
  margin-bottom: 5px;
}

.range-duo-title {
  padding-left: 12px;
}

.range-scale {
  padding: 16px 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, .2);
}

.range-total {
  width: 180px;
  height: 4px;
  background: #d1dad3;
}

.range-limit {
  width: 100px;
  height: 4px;
  margin-left: 25px;
  background-color: #fff;
}

.switch-first,
.switch-second {
  position: absolute;
  top: 35px;
  width: 4px;
  height: 4px;
  border: 8px solid #fff;
  border-radius: 50%;
  background-color: #ababab;
}

.switch-first {
  left: 35px;
}

.switch-second {
  right: 67px;
}

.switch-first:hover,
.switch-second:hover {
  width: 6px;
  height: 6px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 3px 0 #000;
  box-shadow: 0 0 3px 0 #000;
}

.form-filters-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.checkbox-wrap {
  width: 703px;
}

.checkbox-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

 .checkbox-list-item:not(:last-child) {
  padding-right: 18px;
}

 .checkbox-list-item:nth-child(3) {
  padding-right: 21px;
}

 .checkbox-list-item:nth-child(4) {
  padding-right: 21px;
}

.extends+label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 5px;
  width: 16px;
  height: 16px;
  opacity: .5;
  border: 2px solid #fff;
  border-radius: 3px;
}

.extends:checked+label::after {
  position: absolute;
  top: 0;
  left: 2px;
  opacity: .5;
  content: url(../img/svg/checkbox-on.svg);
}

.extends+label:hover::before {
  opacity: 1;
}

.extends:checked+label:hover::after {
  opacity: 1;
}

.extends:disabled+label::before {
  opacity: .2;
}

.radio-wrap {
  width: 415px;
  padding-top: 2px;
}

.radio-wrap-title {
  font-size: 14px;
  line-height: 16px;
  padding-left: 15px;
}

.filters-background {
  margin-top: 5px;
  padding: 8px 12px;
  padding-right: 0;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, .2);
}

.radio-wrap-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.radio-wrap-item {
  padding-right: 18px;
  padding-left: 32px;
}

.radio-wrap-item label {
  position: relative;
  display: block;
  cursor: pointer;
}

.fat-filter+label::before {
  position: absolute;
  top: 0;
  left: -30px;
  width: 16px;
  height: 16px;
  content: "";
  opacity: .5;
  border: 2px solid #fff;
  border-radius: 50%;
}

.fat-filter:checked+label::after {
  position: absolute;
  top: 6px;
  left: -24px;
  width: 8px;
  height: 8px;
  content: "";
  opacity: .5;
  border-radius: 50%;
  background-color: #fff;
}

.fat-filter+label:hover::before {
  opacity: 1;
}

.fat-filter:checked+label:hover::after {
  opacity: 1;
}

.fat-filter:disabled+label::before,
.fat-filter:disabled+label::after {
  opacity: .2;
}

.fat-filter:focus+label,
.extends:focus+label {
  outline: 2px solid rgb(104, 151, 199);
}

.checkbox-list-item label {
  position: relative;
  display: block;
  cursor: pointer;
  padding-left: 35px;
}

.form-accept-btn {
  width: 144px;
  margin-left: 14px;
  padding: 7px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, .2);
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.form-accept-btn:hover {
  cursor: pointer;
  color: #000;
  background-color: #fff;
}

.form-accept-btn:active {
  color: #000;
  border: none;
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0 2px 2px 0 rgba(105, 105, 105, .9);
  box-shadow: inset 0 2px 2px 0 rgba(105, 105, 105, .9);
}

.catalog-navigation-link {
  font-weight: 400;
}

.current-page-link {
  border-bottom: none;
}

.current-page-link:hover {
  color: inherit;
}

.content-title {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
  margin-bottom: 20px;
  margin-left: 27px;
}

.catalog-page-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.catalog-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  margin-left: auto;
  margin-bottom: 34px;
  padding: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.pagination-item:first-child {
  position: relative;
  left: -5px;
}

.pagination-item:last-child {
  margin-left: 5px;
}

.page-number {
  font-weight: 400;
  padding: 5px 10px;
  border-bottom: none;
  border-radius: 50%;
}

.page-number:hover {
  font-weight: 700;
  cursor: pointer;
  color: #000;
  background-color: rgba(255, 255, 255, .2);
}

.page-number:active {
  background-color: #fff;
}

.previous-page svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.next-page,
.previous-page {
  padding: 5px 10px;
  border-radius: 50%;
  text-decoration: none;
}

.previous-page:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, .2);
}

.next-page:hover {
  cursor: pointer;
  color: #000;
  background-color: rgba(255, 255, 255, .2);
}

.next-page:active,
.previous-page:active {
  background-color: #fff;
}

.fixed-wrap {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  display: block;
  visibility: hidden;
  overflow: auto;
  width: 100%;
  height: 100%;
  -webkit-transition: 1000ms;
  -o-transition: 1000ms;
  transition: 1000ms;
  opacity: 0;
  background-color: rgba(0, 0, 0, .7);
}

.fixed-wrap._show {
  visibility: visible;
  opacity: 1;
}

.fixed-wrap__modal {
  text-align: center;
  white-space: nowrap;
}

.fixed-wrap__modal::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.modal {
  display: inline-block;
  vertical-align: middle;
}

.feedback-area {
  margin: 0 20px 20px 0;
}
